.favorite pre {
    padding: 12px;
    background-color: #eff1f6;
    border-color: #d6d9dc;
    margin-bottom: 0;
}

.favorite code {
    color: rgba(32, 125, 212, 0.87);
}

.favorite {
    width: calc(100% - 80px);
    line-height: 32px;
    font-size: 16px;
    margin: 40px;
    background: #fff;
}

.favorite div {
    height: 40px;
}

.download {
    color: rgba(255, 255, 255, .87);
    background-color: #1989fa;
}

.box-header .h3 {
    height: 22px;
    font-size: 16px;
    width: 180px;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: #f0f0f0;
}

.box-header {
    height: 70px;

}

.box-header .h2, .box-header .h3, .box-header .h4 {
    margin: 0;
    line-height: 1;
}

.box-header .small {
    display: block;
    opacity: .6;
    margin-top: 1px;
    height: 1.05rem;
    font-size: 0.7rem;
    width: 270px;
    border-width: 0;
    border-color: rgb(240, 240, 240);
    border-bottom-width: 2px;

}

.box-header input {
    display: inline;
}

body.stop-scrolling {
    height: auto !important;
    overflow: hidden;
}

.hide {
    display: none !important;
}

.b-w {
    background: #FFF;
}

.m-r-2 {
    margin-right: 2px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.react-grid-layout .box .nav-item {
    display: none;
}

.react-grid-layout .box:hover .nav-item {
    display: inline-block;
}

.m-l-2 {
    margin-left: 2px !important;
}

.drag.material-icons.md-18 {
    font-size: 14px;
    width: 18px;
    line-height: 21px;
    text-align: center;
    vertical-align: top;
}

blockquote {
    margin-left: 1em;
}

.dark, .dark .box, .dark .white {
    transition: all .15s;
}

.nav-light .nav .nav-icon i img, .nav-light .nav .nav-icon i svg {
    display: block;
}

.font-18 {
    font-size: 18px;
}

#check {
    width: 0;
    opacity: 0;
}

.switch {
    width: 4em;
    padding: 4pt;
    border: 1px solid rgba(120, 130, 140, 0.298039);
    border-radius: 48pt;
    cursor: pointer;
    z-index: 9999;
    line-height: 1.5em;
    transition: all .35s;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.sun {
    background: #e1df4e;
    position: relative;
    /*animation: right .35s linear both;*/
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.switch.moon {
    border-color: #fff;
}

.switch.moon .sun {
    background: #fff;
    animation: right .35s linear both;
}

.switch.sunny .sun {
    animation: left .35s linear both;
}

.switch .sun:after {
    transition-delay: 0;
    transition-duration: .15s;
    transfrom: scale(0);
    opacity: 0;
}

.switch .sun:after {
    position: absolute;
    background-color: #FFF;
    transition: background-color .35s;
    content: '';
    width: inherit;
    height: inherit;
    opacity: 0;
}

.switch.moon .sun:after {
    position: absolute;
    background-color: #354759;
    transition: background-color .35s;
    content: '';
    width: inherit;
    height: inherit;
    left: -50%;
    border-radius: inherit;
    transition-delay: 0;
    transition-duration: .35s;
    transfrom: scale(1);
    opacity: 1;
}

.switch.moon + .sky {
    background: #354759;
}

@keyframes right {
    0% {
        transform: translateX(10%) scale(1);
    }
    50% {
        transform: translateX(145%) scale(.5);
    }
    100% {
        transform: translateX(200%) scale(1);
    }
}

@keyframes left {
    0% {
        transform: translateX(200%) scale(1);
    }
    50% {
        transform: translateX(145%) scale(.5);
    }
    100% {
        transform: translateX(10%) scale(1);
    }
}

.md-input.focus.error ~ label, .md-input.error:focus ~ label {
    color: #f44455;
    opacity: 1;
    top: 0 !important;
    font-size: .85em !important;
}

.md-input.focus.error, .md-input.error:focus {
    border-color: #f44455;
    border-bottom-width: 2px;
    padding-bottom: 1px;
}

.error.help {
    font-size: .85em !important;
    color: #f44455;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.columns {
    border-bottom: 1px solid #ddd;
}

.columns .columns_name {
    line-height: 22px;
    font-size: 15px;
    font-weight: 800;
}

.columns .columns_type {
    line-height: 22px;
    font-size: 12px;
    float: right;
}

.columns .columns_name {
    line-height: 22px;
    font-size: 13px;
    font-weight: 800;
}

.querySelect {
    background: #FFF;
    height: 100%;
}

.queryTab .pull-right {
    display: inline;
}

.queryChart .pull-right .btn, .queryTab .pull-right .btn {
    min-width: 5.5rem;

    line-height: 20px;
    font-size: 14px;
    margin: 5px;
}

.query-chart {
    background: #FFF;
}

.queryChart .body {

}

.queryTab {
    color: #c0c0c0;
    margin-bottom: 0;
    /*border-color: #2180D8;*/
}

a.nav-link.active {
    color: #1989fa
}

.Search {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.CodeMirror {
    border: 1px solid #eee;
    width: 100%;
}

.ReactCodeMirror {
    width: 100%;
}

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}

.editor-w {
    width: calc(100% - 81px);
}

.editor.body {
    min-height: 400px;
    height: 60%;
}

.editor-header {
    background-image: linear-gradient(0deg, hsla(215, 9%, 62%, .15), hsla(0, 0%, 100%, .15));
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.w-50 {
    width: 50%;
}

.p-0 {
    padding: 0 !important;;
}

.p-r-30 {
    padding-right: 30px !important;
}

.react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*.react-grid-item:not(.react-grid-placeholder) {*/
/*background: #ccc;*/
/*border: 1px solid black;*/
/*}*/

/*.react-grid-item.resizing {*/
/*opacity: 0.9;*/
/*}*/

/*.react-grid-item.static {*/
/*background: #cce;*/
/*}*/

/*.react-grid-item .text {*/
/*font-size: 24px;*/
/*text-align: center;*/
/*position: absolute;*/
/*top: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*right: 0;*/
/*margin: auto;*/
/*height: 24px;*/
/*}*/

/*.react-grid-item .minMax {*/
/*font-size: 12px;*/
/*}*/

/*.react-grid-item .add {*/
/*cursor: pointer;*/
/*}*/

/* ICON*/

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    vertical-align: -4px;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
    vertical-align: -7px;
}

.material-icons.md-36 {
    font-size: 36px;
    vertical-align: -12px;
}

.material-icons.md-48 {
    font-size: 48px;
    vertical-align: -16px;
}

/**/
.query-table {
    height: 100%;
}

.query-table .public_fixedDataTableCell_cellContent {
    padding: 3px 8px;
}

.query-table .public_fixedDataTableRow_highlighted,
.query-table .public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
    background-color: #eff1f6;
}

.query-table .public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-image: linear-gradient(#fff, #f7f8fb);
}

.query-table .public_fixedDataTable_header .public_fixedDataTableCell_cellContent {
    padding: 3px 8px;
    font-weight: 300;
    font-size: 10px;
    color: #82878b;
}

.query-table code {
    color: rgba(32, 125, 212, 0.87);
    background-color: rgba(69, 164, 254, 0.13);
}

.query-table .label-success {
    color: #a6aaad;
    background-color: #fff;
    border: 1px solid #d5d8db;
}

.query-table .btn {
    padding: 2px 6px;
    color: rgba(130, 135, 139, 0.71);
}

.query-table .btn .glyphicon {
    margin-left: 4px;
}

.query-table .public_fixedDataTable_main {
    border-left: none;
    border-right: none;
}

.query-table .editor-menu {
    color: #a4a9b6;
    font-size: 13px;
    border-bottom: none;
    background-color: white;
    background-image: none;
}

.table-striped > tbody > tr:nth-child(even) {
    background-color: #eff1f6;
    background-clip: padding-box;
}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: #FFF;
    background-clip: padding-box;
}

.table > tbody > tr > td {
    padding: 3px 8px;
    height: 40px;
    line-height: 34px;
    border-right-style: solid;
    border-width: 0 1px 0 0;
    border-color: #d3d3d3;
}

.table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
}

.table > thead > tr > th {
    text-align: center;
    padding: 3px 8px;
    font-weight: 300;
    font-size: 10px;
    background-color: #f6f7f8;
    color: #82878b;
    border-right-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #d3d3d3;
    height: 25px;
    background-image: linear-gradient(#fff, #f7f8fb);
}

.Pane {
    overflow-y: scroll;
}

.hide {
    display: none !important;
}
